@charset "utf-8";

@font-face { font-family: Starjedi; src: url('../fonts/starjedi/Starjedi.ttf'); }
@font-face { font-family: Franklin Gothic Book; src: url('../fonts/franklin-gothic-book/FRABK.ttf'); } 

html {
    /*border-right-color:#C0C0C0;
    border-right-width:100px; 
    border-right-style:ridge;
    border-left-color:#C0C0C0;
    border-left-width:100px;
    border-left-style:ridge;*/
    border-bottom:1px;
	overflow:auto;
}

a:visited {
	color: #e26e6b;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar {
    float: left;
}

li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active).navbar {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.crawl {
	line-height: 1.5em;
	font-size:18px; 
	font-family:Franklin Gothic Book; 
	color:#4bd5ee
}

img.circle-ls {
    border-radius: 50%;
	border: 2px solid #00577d /*#468EB2*/;
    filter: grayscale(100%);
	margin: 5px;
}

img.circle-ls-vid {
    border-radius: 50%;
	border: 2px solid #00577d /*#468EB2*/;
	margin: 5px;
}

img.circle-ds {
	border-radius: 50%;
	border: 2px solid #962428 /*#e26e6b*/;
    filter: grayscale(100%);
	margin: 5px;
}

img.circle-ds-vid {
	border-radius: 50%;
	border: 2px solid #962428 /*#e26e6b*/;
	margin: 5px;
}

.verticalLine {
  border-right: 3px solid #ffffff;
  height = 100%;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ffffff;
    margin: 1em 0;
    padding: 0; 
}

/*.char-portrait-video {
	position:absolute;
	background-color:limegreen;
	width:14px;
	height:14px;
	right:0px;
	top:-1px;
	z-index:10;
	border-radius:50%;
	border:2px solid #fff;
	box-shadow:0 0 3px rgba(0,0,0,0.8);
}*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
	
#grandmaster {
  float: left;
  width: 15%;
  height: 700px;
  padding-left: 2%;
  padding-right: 2%;
}
#master {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#knight {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#padawan {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#youngling {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
