@charset "utf-8";

@font-face { font-family: Starjedi; src: url('fonts/starjedi/Starjedi.ttf'); }
@font-face { font-family: Franklin Gothic Book; src: url('fonts/franklin-gothic-book/FRABK.ttf'); } 

html {
    border-right-color:#C0C0C0;
    border-right-width:100px; /*adjust pixel width if need be */
    border-right-style:ridge;
    border-left-color:#C0C0C0;
    border-left-width:100px; /* adjust pixel width if need be */
    border-left-style:ridge;
    border-bottom:1px;
	overflow:auto;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar {
    float: left;
}

li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active).navbar {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

p.crawl {
	line-height: 1.5em;
	font-size:18px; 
	font-family:Franklin Gothic Book; 
	color:#4bd5ee
}

.img-circle {
    border-radius: 50%;
	padding: 1.1%;
}

.verticalLine {
  border-right: 3px solid #ffffff;
  height = 100%;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ffffff;
    margin: 1em 0;
    padding: 0; 
}

#grandmaster {
  float: left;
  width: 15%;
  height: 700px;
  padding-left: 2%;
  padding-right: 2%;
}
#master {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#knight {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#padawan {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}
#youngling {
  float: left;
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  height: 700px;
}